$white: #fff;
$green: #3ad900;
$blue: #193549;
$grey: #bfbfbf;
$light-gray: #eaeaea;
$red: rgb(212, 0, 0);
$grayscale: #8d9397;
$light-shade-gray: #efefef;
$my-message: #e4edfd;
$mess: #f8f8f8;
$yellow: #ffc600;
